html,
body {
    min-height: 100vh;
    font-size: 20px;
    background: linear-gradient(120deg, #333, #555);
    background-attachment: fixed;
}

body {
    overflow-x: hidden;

    .distancelist {
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        right: 10px;
        top: 40px;
        bottom: 10px;
        z-index: 200;

        .distance {
            font-size: 11px;
            text-transform: capitalize;
            cursor: pointer;
            text-align: right;

            &:after {
                content: " AU";
            }

            &:hover {
                text-decoration: underline;
                text-decoration-color: #fc0;
            }
        }
    }

}

#hero {
    background: linear-gradient(50deg, #FFF57B, #FFE469, #FECC51, #FCB033, #FA961B, #FA8607) !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36.25px;
    font-size: 13px;
    z-index: 100;
    box-sizing: border-box;

    #theclock {
        text-align: right;
        text-shadow: 0 0 60px rgba(#000, 0.9);
        text-transform: uppercase;
        mix-blend-mode: hard-light;
    }
}

#planets {
    position: relative;
    width: 100vw;

    section {
        position: absolute;
        height: 100vh;
        width: 100%;

        background: rgba(#000, 0.1);

        box-sizing: border-box;
        padding: 20px 120px 20px 20px;

        h2 {
            display: flex;
            align-items: center;

            .planet {
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: contain !important;
                width: 80px;
                height: 80px;
                margin-right: 20px;
                // transform: translate(-50%, -50%);
                // opacity: 0.3;
            }

            span {
                flex: 1;
            }

            .moons {
                display: flex;
                align-items: end;
                justify-content: end;
                flex-wrap: wrap;
                width: 440px;

                .moon {
                    display: inline-block;
                    background: rgba(#000, 0.15);
                    border-radius: 50%;
                    margin: 1px;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .planetname {
            text-transform: capitalize;
        }

    }
}