body {
    font-family: $font-stack;
    font-size: $font-size;
    line-height: 1.6;
    color: $primary-color;
    margin: 0 auto;
    padding: 0;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;

    margin: 0 0 2rem 0;
    
    h1 {
        font-size: 1.2rem;
        margin: 0;
        font-weight: normal;
        color: $secondary-color;
    }
}

#post-list {
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: 0.5rem;
    }
    
    a {
        color: $secondary-color;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}