* {
    transition: all 0.5s;
}
html {
	font-size: 10px;
	height: 100vh;
}
body {
	font-family: $font-stack;
	font-size: $font-size;
	line-height: 1.6;
	color: $primary-color;

	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header"
		"menu main"
		"footer footer";

    @media screen and (max-width: 1000px) {
        grid-template-areas:
            "header menu"
            "main main"
            "footer footer";
    }

	height: 100vh;
	margin: 0;
	padding: 0;

	header {
		grid-area: header;
        padding: 0.5rem;

        h1 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: normal;
        }
	}

	menu {
		grid-area: menu;
        margin: 0;
        padding: 0;
        border-right: 1px dotted $secondary-color;
        font-size: 1.4rem;

        @media screen and (max-width: 1000px) {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column-reverse;

            li {
                margin: 0;
                padding: 0;

                a {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5rem;
                    text-decoration: none;
                    color: $primary-color;
                    text-transform: capitalize;

                    &.active {
                        padding-left: 2rem;
                    }

                    .title {
                        color: $primary-color;
                    }
                    .date {
                        font-size: 1.2rem;
                        color: $secondary-color;
                    }
                }
            }
        }
	}

	main {
		grid-area: main;
        display: flex;

        justify-content: center;

        #post-content {
            padding: 0.5rem;
            width: 500px;
            box-sizing: border-box;
            margin: 0 auto;

            @media screen and (max-width: 1000px) {
                width: 100%;
                max-width: 500px;
            }
            post-title {
                display: none;
            }

            .meta {
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;

                post-time, post-category {
                    color: $light-color;
                }
            }
            h2 {
                font-size: 2.4rem;
                font-weight: normal;
                margin: 0 0 0.5rem 0;
                padding: 0 0 0.5rem 0;
                border-bottom: 1px solid $secondary-color;
            }

            content {
                font-size: 1.6rem;

                p {
                    font-family: $font-stack;
                    font-size: inherit;
                }

                .code-container {

                }
            }
        }
	}

	footer {
		grid-area: footer;
        color: $secondary-color;
	}
}
