* {
    transition: all 0.5s;
}
html {
	font-size: 10px;
	height: 100vh;
}
body {
	font-family: $font-stack;
	font-size: $font-size;
	line-height: 1.6;
	color: $primary-color;

	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header"
		"menu main"
		"footer footer";

    @media screen and (max-width: 1000px) {
        grid-template-areas:
            "header menu"
            "main main"
            "footer footer";
    }

	height: 100vh;
	margin: 0;
	padding: 0;

	header {
		grid-area: header;
        padding: 0.5rem;

        h1 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: normal;
        }
	}

	menu {
		grid-area: menu;
        margin: 0;
        padding: 0;
        border-right: 1px dotted $secondary-color;
        font-size: 1.4rem;

        @media screen and (max-width: 1000px) {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column-reverse;

            li {
                margin: 0;
                padding: 0;

                a {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5rem;
                    text-decoration: none;
                    color: $primary-color;
                    text-transform: capitalize;

                    &.active {
                        padding-left: 2rem;
                    }

                    .title {
                        color: $primary-color;
                    }
                    .date {
                        font-size: 1.2rem;
                        color: $secondary-color;
                    }
                }
            }
        }
	}

	main {
		grid-area: main;
        display: flex;

        justify-content: center;

        #post-content {
            padding: 0.5rem;
            width: 500px;
            box-sizing: border-box;
            margin: 0 auto;

            @media screen and (max-width: 1000px) {
                width: 100%;
                max-width: 500px;
            }
            post-title {
                display: none;
            }

            .meta {
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;

                post-time, post-category {
                    color: $light-color;
                }
            }
            h2 {
                font-size: 2.4rem;
                font-weight: normal;
                margin: 0 0 0.5rem 0;
                padding: 0 0 0.5rem 0;
                border-bottom: 1px solid $secondary-color;
            }

            content {
                font-size: 1.6rem;

                p {
                    font-family: $font-stack;
                    font-size: inherit;

                    a {
                        color: #069;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .code-container {

                }

                figure {
                    margin: 0 auto;
                    max-width: 100%;
                    box-sizing: border-box;
                    padding: 1rem;
                    border-radius: 5px;
                    background: #f4f4f4;
                    cursor: pointer;

                    &:hover {
                        background: #e4e4e4;
                    }

                    img {
                        margin: 0 auto;
                        display: block;
                        max-height: 350px;
                        max-width: 100%;
                    }
                    figcaption {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        padding-top: 0.5rem;
                        text-align: center;
                    }

                    &.opened {
                        position: fixed;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1000;
                        background: rgba(#000, 0.6);
                        backdrop-filter: blur(5px);
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-height: calc(100vh - 72px);
                            max-width: calc(100vw - 30px);
                            box-shadow: 0 0 15px rgba(#000, 0.4);
                        }

                        figcaption {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
	}

	footer {
		grid-area: footer;
        color: $secondary-color;
	}
}
